/*CSS*/
.YN_image{
    /* display: left; justify-content: center; width: 49%; */
    display: inline-block;
}
.YN_table{
    /* display: flex; justify-content: center; width: 49%; */
    display: inline-block;
    margin-right: 1em;

}
.slds-input{
    width: 50%;
}
.YN_data{
    width: 100%;
    margin-top: 3em;
}