.productCSS{
    width: 35%;
    display: inline-block;
    float: left;
    padding-right: 1em;
}
.amountCSS{
    width: 35%;
    display: inline-block;
    float: left;
    padding-right: 1em;
}
.buttonAdd{
    margin-top: 1.8em;
    display: inline-block;
      
}
.list{
    display: block !important; 
}