.productCSS{
    width: 35%;
    display: inline-block;
    float: left;
    padding-right: 1em;
}
.amountCSS{
    width: 35%;
    display: inline-block;
    float: left;
    padding-right: 1em;
}
.buttonAdd{
    margin-top: 1.8em;
    display: inline-block;
      
}
.list{
    display: block !important; 
}
 .slds-button{ 
     --slds-c-button-color-background: #BB00FF;
    --slds-c-button-color-background-hover: #8700B8;
    --slds-c-button-color-border: #BB00FF;
    --slds-c-button-color-border-hover: #8700B8; 
   
}